@page "/usuarios"

@using AsistenciasCrud.Shared;
@using CurrieTechnologies.Razor.SweetAlert2;
@using AsistenciasCrud.Client.Services;

@inject SweetAlertService Swal;
@inject IUsuarioService usuarioService;

<h3>Usuarios</h3>

<a class="btn btn-success btn-sm mb-3" href="usuario">Nuevo Usuario</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Fecha Registro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (listaUsuarios == null)
        {
            <tr>
                <td colspan="5" align="center">
                    <img style="width:50px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in listaUsuarios)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.CorreoElectronico</td>
                    <td>@item.Telefono</td>
                    <td>@item.FechaRegistro.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="usuario/@item.IdUsuario">
                            <i class="oi oi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm ms-2" @onclick="(() => Eliminar(item.IdUsuario))">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@code {
    List<UsuariosIN>? listaUsuarios = null;

    protected override async Task OnInitializedAsync()
    {
        listaUsuarios = await usuarioService.Lista();
    }

    private async Task Eliminar(int id)
    {
        var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Eliminar Usuario",
                Text = "¿Deseas eliminar al usuario?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        if (resultado.IsConfirmed)
        {
            var eliminado = await usuarioService.Eliminar(id);
            if (eliminado)
                listaUsuarios = listaUsuarios!.FindAll(u => u.IdUsuario != id);
        }
    }
}